@model IEnumerable<CountryVM>
@{
    var page = (int)ViewData["page"];
    var size = (int)ViewData["size"];
    var pages = (int)ViewData["pages"] - 1;
}

<div class="container p-2 mt-4">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">All Countries</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Country" asp-action="CreateCountry" class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp; Add New Country</a>
        </div>
    </div>

    <table id="tblCountries" class="table table-hover">
        <thead>
            <tr>
                <th class="lead">Name</th>
                <th class="lead">Code</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="country-table-body">
            <partial name="_CountryTableBodyPartial" />
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    @{
                        var previousDisabled = page <= 0 ? "disabled" : "";
                        var nextDisabled = page >= pages ? "disabled" : "";
                    }

                    <div class="d-flex justify-content-end">
                        <a asp-action="AllCountries" asp-route-page="0" asp-route-size="@size" data-page="0" class="first-btn btn btn-primary mx-2">First</a>
                        <a asp-action="AllCountries" asp-route-page="@(page)" asp-route-size="@size" data-page="0" class="previous-btn btn btn-primary mx-2"><</a>

                        @for (int i = 0; i <= pages; i++)
                        {
                            var btnClass = page == i ? "btn-dark" : "btn-light";
                            <a asp-action="AllCountries" asp-route-page="@i" asp-route-size="@size" data-page="@i" class="pager-btn btn @btnClass">@(i + 1)</a>
                        }

                        <a asp-action="AllCountries" asp-route-page="@(page)" asp-route-size="@size" data-page="1" class="next-btn btn btn-primary mx-2">></a>
                        <a asp-action="AllCountries" asp-route-page="@pages" asp-route-size="@size" data-page="@pages" class="last-btn btn btn-primary mx-2">Last</a>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts{
    <script src="~/js/deleteWarning.js"></script>

    <script>
        $('.pager-btn').on('click', function (event) {
            event.preventDefault();

            var page = $(this).data('page');
            getData(page);
        });

        $('.first-btn').on('click', function (event) {
            event.preventDefault();

            getData(0);
        });

        $('.last-btn').on('click', function (event) {
            event.preventDefault();

            getData(@pages);
        });

        $('.previous-btn').on('click', function (event) {
            event.preventDefault();

            var page = $(this).data('page');
            console.log(page);

            if(page >= 0){
                getData(page);
                $(this).data('page', page - 1);
                $('.next-btn').data('page', $(this).data('page') + 1);
                console.log($(this).data('page'));
            }
        });

        $('.next-btn').on('click', function (event) {
            event.preventDefault();

            var page = $(this).data('page');
            console.log(page);

            if(page <= @pages){
                getData(page);
                $(this).data('page', page + 1);
                $('.previous-btn').data('page', $(this).data('page') - 1);
                console.log($(this).data('page'));
            }
        });

        function getData(page) {
            var ajaxData = {
                page: page,
                size: @size
            };

            $.ajax({
                type: 'GET',
                url: 'CountryTableBodyPartial',
                data: ajaxData,
                success: function (data) {
                    $('#country-table-body').html(data);

                    $('.pager-btn').removeClass('btn-dark');
                    $('.pager-btn').addClass('btn-light');

                    $('.pager-btn[data-page=' + page + ']').removeClass('btn-light');
                    $('.pager-btn[data-page=' + page + ']').addClass('btn-dark');
                },
                error: function (data) {
                    console.log('error', data);
                }
            });
        }
    </script>
}
