@model IEnumerable<VideoVM>

<div class="container p-2">
    <div class="row mt-3">
        <div class="col-6">
            <h2 class="text-primary">All Videos</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Video" asp-action="CreateVideo" class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp; Create New Video</a>
        </div>
    </div>
    <br />

    <table id="tblVideos" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Streaming URL</th>
                <th>Genre</th>
                <th>Tags</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tblBody">
            @foreach (var videoVm in Model)
            {
                <tr>
                    <td>
                        <img src="@videoVm.ImageURL" alt="Video image" style="width: 70px; height: 70px" />
                    </td>
                    <td>@videoVm.Video.Name</td>
                    <td>@videoVm.Video.Description</td>
                    <td>@videoVm.Video.TotalSeconds</td>
                    <td>@videoVm.Video.StreamingURL</td>
                    <td>@videoVm.Genre</td>
                    <td>
                        @foreach (var tagOfVideo in videoVm.TagsOfVideo)
                        {
                            <text>@tagOfVideo </text>
                        }
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-area="Admin" asp-controller="Video" asp-action="EditVideo" asp-route-id="@videoVm.Video.Id" class="btn btn-success mx-2"><i class="bi bi-pencil-square"></i></a>
                            <a onclick="DeleteWarning('/Admin/Video/DeleteVideo/'+@videoVm.Video.Id, ' #tblVideos')" class="btn btn-danger mx-2"><i class="bi bi-trash3"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row mt-3">
        <div class="justify-content-end">
            <ul class="pagination justify-content-end">
                <li>
                    <a href="#" class="page-link" data-page="previous">Previous</a>
                </li>
                <li class="pt-2">
                    <span id="current-page">1</span>
                </li>
                <li>
                    <a href="#" class="page-link" data-page="next">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/deleteWarning.js"></script>
}
