@model VideoVM

@{
    ViewData["Title"] = Model.Video.Name;
}

<div class="container p-3">
    <h2 class="text-primary">@Model.Video.Name</h2>
    <div class="mb-4">
        <img src="@Model.ImageURL" style="width: 400px; height: 200px" />
    </div>
    <div class="col-6">
        <p class="text-primary h5">Description:</p>
        <p class="text-primary">@Model.Video.Description</p>
    </div>
    <p class="text-primary"><span class="h5">Duration:</span> @Model.Video.TotalSeconds seconds</p>
    <p class="text-primary"><span class="h5">Genre:</span> @Model.Genre</p>
    <div class="col-6">
        <p class="text-primary h5">Tags:</p>
        <p>
            @foreach (var tag in Model.Video.Tags)
            {
                <text>#@tag </text>
            }
        </p>
    </div>
    <a href="@Model.Video.StreamingURL" class="btn btn-dark" style="width: 200px">Watch</a>
    <a asp-area="Public" asp-controller="Home" asp-action="Index" class="btn btn-light" style="width: 200px">Back</a>
</div>