@{
    var page = (int)ViewData["page"];
    var size = (int)ViewData["size"];
    var pages = (int)ViewData["pages"] - 1;
    var action = (string)ViewData["actt"]; 
}

<div class="d-flex justify-content-end">
    <a asp-action="action" asp-route-page="0" asp-route-size="@size" data-page="0" class="first-btn btn btn-primary mx-2">First</a>
    <a asp-action="action" asp-route-page="@(page)" asp-route-size="@size" data-page="0" class="previous-btn btn btn-primary mx-2"><</a>

    @for (int i = 0; i <= pages; i++)
    {
        var btnClass = page == i ? "btn-dark" : "btn-light";
        <a asp-action="action" asp-route-page="@i" asp-route-size="@size" data-page="@i" class="pager-btn btn @btnClass">@(i + 1)</a>
    }

    <a asp-action="action" asp-route-page="@(page)" asp-route-size="@size" data-page="1" class="next-btn btn btn-primary mx-2">></a>
    <a asp-action="action" asp-route-page="@pages" asp-route-size="@size" data-page="@pages" class="last-btn btn btn-primary mx-2">Last</a>
</div>